.toolbar {
  background-color: blue;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1em;
}

.toolbar__logo {
  margin-left: 1em;
}

.spacer {
  flex: 1;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5em;
}

.toolbar__navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: black;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}